.music-site {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  min-height: 100vh;
  color: white;
}

.music-site-nav,
.music-site-nav-nonuser {
  background-color: #2a213a;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.music-site-main {
  background-color: #170f23;
}

.music-site-player {
  background-color: #2a213a;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
