.music-site {
  display: grid;
  grid-template-columns: 20vw 80vw;
  min-height: 100vh;
  color: white;
}

#music-container {
  display: flex;
  flex-direction: column;
}

.music-site-nav,
.music-site-nav-nonuser {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  height: 100vh;
  border-right: #1ed760 1px solid;
}

.music-site-main {
  background-color: #2a2a2a;
  display: flex;
  height: 90vh;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}

.music-site-player {
  background-color: #000000;
  display: flex;
  padding: 0.3rem 0.1rem;
  height: 10vh;
  border-top: 1px solid #1ed760;
  width: 80vw;
  position: absolute;
  left: 20vw;
  bottom: 0vh;
}

/* music navbar */

.music-site-nav-nonuser,
.music-site-nav {
  padding: 0 1rem;
}

.music-site-nav-nonuser .logo,
.music-site-nav .logo {
  display: flex;
}

.music-site-nav-nonuser .logo img,
.music-site-nav .logo img {
  width: 30%;
}

.music-site-nav-nonuser .logo p,
.music-site-nav .logo p {
  width: 70%;
  font-size: 1.5rem;
  padding: 1.5rem 0;
}

.music-site-nav-nonuser nav,
.music-site-nav nav {
  display: flex;
  flex-direction: column;
}

.music-site-nav-nonuser .auth-form .auth-input input {
  width: 80%;
  height: 2rem;
  margin: 0.2rem 10%;
  border-radius: 10px;
  padding-left: 0.5rem;
  outline: none;
}

.music-site-nav-nonuser .auth-form .auth-button {
  text-align: center;
}

.music-site-nav-nonuser .auth-form .auth-button button {
  width: 38%;
  height: 1.8rem;
  margin: 0.2rem 0.2rem;
  background-color: #1ed760;
  border: none;
  outline: none;
  color: white;
  border-radius: 10px;
}

.music-site-nav .user {
  text-align: center;
}

.music-site-nav .user img {
  width: 50%;
  margin-top: 2rem;
}

.chaticon {
  position: fixed;
  font-size: 3rem;
  top: 80vh;
  left: 93vw;
  color: #1ed760;
}

.chatbox-container {
  position: fixed;
  top: 48vh;
  left: 73vw;
  border: 1px solid white;
  background-color: black;
  color: white;
  width: 25vw;
  height: 40vh;
}

.chatbox-container .chatbox {
  overflow-y: scroll;
  height: 35vh;
  margin-bottom: 1vh;
}

.chatbox-container input {
  width: 23vw;
  height: 3vh;
  outline: none;
  border: none;
  padding: 0 0.5rem;
  border-radius: 10px;
  margin: 0 1vw;
}

/* music search */
.music-search {
  width: 80vw;
}

.music-search input {
  width: 76vw;
  height: 4vh;
  margin: 1vh 2vw;
  border-radius: 10px;
  padding: 0 0.5rem;
  outline: none;
}

#songbox {
  overflow-y: scroll;
  max-height: 90vh;
  padding: 0 5vw;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

/* music playlist */
.music-playlist {
  background-color: #2a2a2a;
  height: 90vh;
  padding: 0 5vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

.playlist {
  display: flex;
  min-height: 30vh;
  flex-wrap: wrap;
  align-content: flex-start;
}

.add-playlist {
  width: 10rem;
  height: 10rem;
  background-color: #1ed760;
}

.add-playlist input {
  width: 9rem;
  margin: 0.5rem 0.5rem;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 0 0.5rem;
  height: 4vh;
}

.add-playlist button {
  width: 4rem;
  margin: 1rem 0.5rem;
  border-radius: 10px;
  outline: none;
  border: none;
  height: 4vh;
}

.comment-container {
  border: 1px solid white;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30vw;
  margin: 1rem 1rem;
}

.comment-container input {
  width: 25vw;
  height: 3vh;
  outline: none;
  border: none;
  padding: 0 0.5rem;
  border-radius: 10px;
  margin: 1vh 2.5vw;
}

/* music player */
.music-site-player-controller {
  color: white;
  display: flex;
  height: 10vh;
}

.music-site-player-controller img {
  width: 8vh;
  border-radius: 50%;
  height: 8vh;
  animation-name: spin;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.music-site-player-controller .controller-btn-container {
  display: flex;
  margin: 0.5rem 2vw;
}

.music-site-player-controller .controller-btn-container i {
  margin: 0 1vw;
}

.music-site-player-controller #playing-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.music-site-player-controller #playing-author {
  font-size: 0.8rem;
}

#progress-container {
  background-color: white;
  height: 5px;
  border-radius: 10px;
  cursor: pointer;
}

#playing-progress {
  background-color: #1ed760;
  height: 4px;
  border-radius: 10px;
}

#playing-lyric {
  width: 30vw;
  padding: 1vh 1vw;
  border: 1px solid white;
  background-color: black;
  margin: 1rem 1rem;
}
