.song-card,
.plsong {
  width: 11rem;
  height: 11rem;
  margin: 1rem 1rem;
  background-color: #1ed760;
  cursor: pointer;
  text-align: center;
}

.song-card img,
.plsong img {
  width: 99%;
  margin: 0 0.5%;
  height: 7rem;
}
